/* Dual Range Slider Styles */
.slider-thumb::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  border: none;
  box-shadow: none;
  position: relative;
  z-index: 20;
}

.slider-thumb::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  border: none;
  box-shadow: none;
  position: relative;
  z-index: 20;
}

.slider-thumb::-webkit-slider-runnable-track {
  background: transparent;
  height: 6px;
}

.slider-thumb::-moz-range-track {
  background: transparent;
  height: 6px;
}
